
@import url(https://fonts.googleapis.com/css?family=Loved+by+the+King);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300);

body {background-color: snow;}
P {color: black; font-family: 'Source Sans Pro', sans-serif;}
h1 {text-align: center; color: DarkGreen; font-family: 'Loved by the King', cursive;}
h3 {text-align: center; color: Coral; font-family: 'Loved by the King', cursive;}
#navigationbar {text-align: center;}
